[MASTER]

disable=missing-function-docstring, missing-module-docstring, missing-class-docstring, too-few-public-methods

[SIMILARITIES]

# Minimum lines number of a similarity.
min-similarity-lines=8

# Ignore comments when computing similarities.
ignore-comments=yes

# Ignore docstrings when computing similarities.
ignore-docstrings=yes

# Ignore imports when computing similarities.
ignore-imports=yes

#Ignore no member for false positives
disable=maybe-no-member