html, body {
    height: 100%;
}

body {
    padding-left: 5%;
    padding-right: 5%;
}

.container {
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-width: 0;
    min-height: 0;
    resize: none;
}

.TitleInput {resize: none;}

.ContentInput {resize: none;}