.AddPostTitle
{
    background-color: beige;
}

.InputFields > input
{
    box-sizing:border-box;
    width: 100%;
}

.EditPostTitle
{
    background-color: beige;
    padding-left: 1%;
}

.Form
{
    height: 40%;
}

form
{
    height: 100%;
}

textarea
{
    resize: none;
    width:100%;
    height: 100%;
    box-sizing: border-box;
    padding-right: 0;
    margin-right: 0;
}

.SubmitButton:hover
{
    cursor:pointer;
}
