body, html {
    height: 100%;
    padding-right: 5%;
    padding-left: 5%;
}

.AddPostTitle
{
    background-color: beige;
}

.InputFields > input
{
    box-sizing:border-box;
    width: 100%;
}

.ReturnButton > a {
    text-decoration: none;
    color: black;
    background-color: beige;
    padding: 1%;
}

.ContentArea > textarea
{
    resize:none;
    box-sizing: border-box;
    width: 100%;
}

.SubmitButton {
    border: none;
    padding: 1%;
    background-color: beige;
}

.SubmitButton:hover
{
    cursor:pointer;
}
