body
{
    padding-left: 5%;
    padding-right: 5%;
}

body > ul
{
    list-style: none;
    padding-left: 0;
    padding-bottom: 0;
}

.ArticleGroup > a {
    color: black;
    display: block;
    display: list-item;
    text-decoration: none;
    list-style-type: none;
    padding: 2em;
    background-color:cadetblue;
    margin-bottom: 1em;
    border-left: solid;
}

.ArticleGroup:hover {
    box-shadow: 0 4px 4px 0;
    border-radius: 15px;
}

    .NewContentButton > a {
        text-decoration: none;
        color: black;
    }