body
{
    padding-left: 5%;
    padding-right: 5%;
}

body > ul
{
    list-style: none;
    padding-left: 0;
    padding-bottom: 0;
}

.ArticleGroup > a {
    color: black;
    display: block;
    display: list-item;
    text-decoration: none;
    list-style-type: none;
    padding: 2em;
    background-color:darkkhaki;
    margin-bottom: 1em;
    border-left: solid;
    border-radius: 5px;
}

.ArticleGroup:hover {
    box-shadow: 0 4px 4px 0;
    border-radius: 15px;
}

.MainTitle {
    background: border-box;
    background-color: beige;
    padding: 1em;
    grid-column-start: 1;
    grid-column-end: 4;
}

.MainHeader > h1
{
    margin: 0;
}

.NewItemButton {
    background-color: blanchedalmond;
    vertical-align: middle;
    box-sizing: border-box;
    display: table;
    height:100%;
}

    .NewItemButton > a {
        grid-column-start: 2;
        grid-row-start: 2;
        text-decoration: none;
        color: black;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }

    .NewItemButton:hover {
        box-shadow: 0 4px 4px 0;
    }

.MainHeader {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-radius: 5px;
}