body {
    padding-left: 5%;
    padding-right: 5%;
}

    body > ul {
        list-style: none;
        padding-left: 0;
        padding-bottom: 0;
    }

.UsersList > a {
    color: black;
    display: block;
    text-decoration: none;
    padding: 2em;
    background-color: gainsboro;
    margin-bottom: 1em;
    border-left-color: aliceblue;
}
