.body
{
    padding-left: 5%;
    padding-right: 5%;
}

.MainTitle {
    background: border-box;
    background-color: honeydew;
    padding: 1em;
    grid-column-start: 1;
    grid-column-end: 5;
}

.MainHeader {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    border-radius: 5px;
}

.container {
    display:grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.container > div
{
    display: grid;
    justify-content: flex-start;
}

.thumbnail {
    width: 150px;
    height: 100px;
}