.body {
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
}

.container
{
    margin-right: 0;
}

.main-container
{
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}
