{% extends "base_layout.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='add_update_style.css') }}" />
{% endblock %}

{% block body %}
    <div class="Form">
        <form method="post">
            <label typeof="string">Username : </label><br />
            <div><input typeof="string" name="NameInput" /> </div><br />
            <label typeof="string">Email : </label><br />
            <div><input typeof="string" name="EmailInput" /></div><br />
            <label typeof="string">Password : </label><br />
            <div><input type="password" name="PasswordInput" /></div><br />
            <button class="SubmitButton">Submit</button>
        </form>
    </div>
{% endblock %}