<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet"
          href="{{ url_for('static', filename='AddItemStyle.css') }}" />
    <title></title>
</head>
<body>
    <h1>Add Post</h1>
    <form class="Form" method="post">
        <label typeof="string">Name : </label><br />
        <input typeof="string" name="NameInput" /> <br />
        <label typeof="string">Author : </label><br />
        <input typeof="string" name="AuthorInput" /><br />
        <label typeof="string">Content : </label><br />
        <textarea name="ContentInput"></textarea><br />
        <button>Submit</button>
    </form>
</body>
</html>