<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='base_layout_style.css') }}" />
    {% block head %} {% endblock %}
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a href="{{ url_for('post_manager.index')}}">Posts</a></li>
            {% if session['logged_name'] == 'admin' %}
            <li class="nav-item"><a href="{{ url_for('user_manager.index')}}">Users</a></li>
            {% endif %}
            {% if session['logged_name'] is defined %}
            <li class="nav-item"><a href="{{ url_for('user_manager.update_item', user_index=session['logged_id'])}}">Edit User</a></li>
            {% endif %}
            {% if session['logged_name'] == 'admin' %}
            <li class="nav-item"><a href="{{ url_for('user_manager.add_item')}}">Add User</a></li>
            {% endif %}
            {% if session['logged_name'] is not defined %}
            <li class="nav-item"><a href="{{ url_for('login_manager.login') }}">Login</a></li>
            {% endif %}
            {% if session['logged_name'] is defined %}
            <li class="nav-item"><a href="{{ url_for('post_manager.add_item') }}">Add Post</a></li>
            <li class="nav-item"><a href="{{ url_for('login_manager.logout') }}">Logout</a></li>
            {% endif %}
        </ul>
    </nav>
    {% block body %}{% endblock %}
</body>
</html>