<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet"
          href="{{ url_for('static', filename='ContentStyle.css') }}" />
    <title></title>
</head>
<body>
    <div class="ReturnButton"><a href=" {{ url_for('.index') }}">Return to List</a></div>
    <p class="ArticleTitle"> Article Title : {{ current.title }} </p><br />
    <hr />
    <p class="ArticleAuthor"> Article Author : {{ current.author }}</p><br />
    <p class="ArticleAuthor"> Created/Modified : {{ current.datetime }}</p><br />
    <p class="ArticleContent"> {{ current.content }} </p><br />
    <div class="FooterButtons">
        <div class="EditButton"><a href="{{ url_for('.update_item', current_index=current.post_id) }}">Edit</a></div>
        <div class="RemoveButton"><a href="{{ url_for('.remove_item', current_index=current.post_id) }}">Remove</a></div>
    </div>
</body>
</html>