<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet"
          href="{{ url_for('static', filename='ContentStyle.css') }}" />
    <title></title>
</head>
<body>
    <a href=" {{ url_for('index') }}">Return to List</a>
    <p class="ArticleTitle"> Article Title : {{ current.title }} </p><br />
    <hr />
    <p class="ArticleAuthor"> Article Author : {{ current.author }}</p><br />
    <p class="ArticleContent"> {{ current.content }}</p><br />
    <a href=" {{ url_for('remove_item', current_index=current.id) }}">Remove</a>
</body>
</html>