<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" 
          href="{{ url_for('static', filename='IndexStyle.css') }}" />
    <title></title>
</head>
<body>
    <h1>Blog App</h1>
    <button class="NewContentButton"><a href="{{ url_for('addItem') }}">New Item</a></button>
    <ul class="ArticlesList">
        {% for element in database %}
        <li class="ArticleGroup">
            <a href="
            {{ url_for('content', index=loop.index0) }}">
            Article Title : {{ element.Title }}<br />
            Article Author : {{ element.Author }}
            </a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>