<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet"
          href="{{ url_for('static', filename='list_users_style.css') }}" />
    <title></title>
</head>
<body>
    <ul>
        {% for element in database %}
        <li class="UsersList">
            <a href=" {{ url_for('.content', current_index=element.post_id) }}">
                Username : {{ element.user_name }}<br />
                Email : {{ element.user_email }}
            </a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>