{% extends "base_layout.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='list_users_style.css') }}" />
{% endblock %}

{% block body %}
    <div class="list-group">
        {% for element in database %}
        <div class="user-group list-group-item">
            <a href="{{ url_for('.content', user_index=element.user_id) }}" class="list-group-item">
                Username : {{ element.user_name }}<br />
                Email : {{ element.user_email }}
            </a>
        </div>
        {% endfor %}
    </div>
{% endblock %}
