<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='list_posts_style.css') }}" />
    <title></title>
</head>
<body>
    <nav class="navigation-bar">
        <ul class="nav">
            <li><a href="{{ url_for('post_manager.index')}}">Posts</a></li>
            <li><a href="{{ url_for('user_manager.index')}}">Users</a></li>
            <li><a href="{{ url_for('login_manager.login') }}">Login</a></li>
            {% if session['logged_name'] is defined %}
            <li><a href="{{ url_for('.add_item') }}">Add Post</a></li>
            <li><a href="{{ url_for('login_manager.logout') }}">Logout</a></li>
            {% endif%}
        </ul>
    </nav>
    <header class="MainHeader">
        <h1 class="MainTitle navbar-header">Blog App</h1>
    </header>
    {% if session['logged_name'] is defined %}
    <p>Logged in as: {{ session['logged_name'] }}</p>
    {% else %}
    <p>Not logged in</p>
    {% endif %}
    <ul class="list-group">
        {% for element in database|reverse %}
        <li class="ArticleGroup list-group-item">
            <a href=" {{ url_for('.content', current_index=element.post_id) }}">
                Article Title : {{ element.title }}<br />
                Article Author : {{ element.author }}<br />
                Created On: {{ element.stamp.creation_time }}<br />
                Last Edited On: {{ element.stamp.edit_time }}<br />
                Preview: {{ element.preview }}
            </a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>