<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet"
          href="{{ url_for('static', filename='list_posts_style.css') }}" />
    <title></title>
</head>
<body>
    <header class="MainHeader">
        <h1 class="MainTitle">Blog App</h1>
        <div class="NewItemButton">
            <a href="{{ url_for('.add_item') }}">Add New Post</a>
        </div>
    </header>
    <ul class="ArticlesList">
        {% for element in database|reverse %}
        <li class="ArticleGroup">
            <a href=" {{ url_for('.content', current_index=element.stamp.post_id) }}">
                Article Title : {{ element.title }}<br />
                Article Author : {{ element.author }}<br />
                Created On: {{ element.stamp.creation_time }}<br />
                Last Edited On: {{ element.stamp.edit_time }}<br />
                Preview: {{ element.preview }}
            </a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>