<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='list_users_style.css') }}" />
    <title></title>
</head>
<body>
    <div class="list-group">
        {% for element in database %}
        <div class="user-group list-group-item">
            <a href="{{ url_for('.content', user_index=element.user_id) }}" class="list-group-item">
                Username : {{ element.user_name }}<br />
                Email : {{ element.user_email }}
            </a>
            <button>Remove</button>
        </div>
        {% endfor %}
    </div>
</body>
</html>