{% extends "base_layout.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='base_form_style.css') }}" />
{% endblock %}

{% block body %}
<div class="Form">
    <header class="panel">
        <h1>User Login: </h1>
    </header>
    <form method="post">
        <div class="form-group">
            <label for="username">Username</label>
            <input typeof="string" class="Form-Field form-control" id="username" name="NameInput">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="Form-Field form-control" id="password" name="PasswordInput">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p class="text-left">{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% endblock %}
</div>