{% extends "base_layout.html" %}

{% block head %} {% endblock %}

{% block body %}
    <header class="panel">
        <h1>User Login: </h1>
    </header>
    <div class="Form">
        <form method="post">
            <label typeof="string">Username : </label><br />
            <div class="InputFields"><input typeof="string" name="NameInput" /> </div><br />
            <label typeof="string">Password : </label><br />
            <div class="InputFields"><input type="password" name="PasswordInput" /></div><br />
            <button class="btn btn-default">Submit</button>
        </form>
    </div>
{% endblock %}