<!DOCTYPE html>

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='setup_style.css') }}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
{% endblock %}

<body>
    <header class="panel">
        <h1>Connection Setup: </h1>
    </header>
    <form method="post">
        <div class="form-group">
            <label typeof="string">Host : </label><br />
            <div class="InputFields form-control"><input typeof="string" name="host" /> </div><br />
            <label typeof="string">Database : </label><br />
            <div class="InputFields form-control"><input typeof="string" name="database" /> </div><br />
            <label typeof="number">Port : </label><br />
            <div class="InputFields form-control"><input typeof="number" name="port" /></div><br />
            <label typeof="string">Username : </label><br />
            <div class="InputFields form-control"><input typeof="string" name="user" /> </div><br />
            <label typeof="password">Password : </label><br />
            <div class="InputFields form-control"><input type="password" name="password" /> </div><br />
            <button class="btn btn-default">Submit</button>
        </div>
    </form>
</body>
