{% extends "base_layout.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='view_post_style.css') }}" />
{% endblock %}

{% block body %}
    <br />
    <div><h1 class="TitleField">Edit Post</h1></div><br />
    <div class="container">
        <div>
            <img src="{{url_for('static', filename='default.png')}}"><br /><br />
            <button class="btn btn-default">Upload Photo</button>
        </div>
        <div>
            <div class="form-group">
                <form method="post">
                    <label typeof="string">Name : </label><br />
                    <textarea class="Form-Field form-control" rows="1" name="NameInput">{{ current.title }}</textarea><br />
                    <label typeof="string">Content : </label><br />
                    <textarea class="Form-Field form-control" rows="10" name="ContentInput" style="overflow-y: auto; overflow-x: hidden; resize: none; ">{{ current.content }}</textarea><br />
                    <button class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
