{% extends "base_layout.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='base_form_style.css') }}" />
{% endblock %}

{% block body %}
<div class="Form form-group">
    <form method="post">
        <label typeof="string">Username : </label><br />
        {% if current.user_name != 'admin' %}
        <input class="form-control" typeof="string" name="UserNameInput" value="{{ current.user_name }}" /><br />
        {% else %}
        <input class="form-control" typeof="string" name="UserNameInput" value="{{ current.user_name }}" readonly="readonly" /><br />
        {% endif %}
        <label typeof="string">Email : </label><br />
        <input class="form-control" typeof="string" name="UserEmailInput" value="{{ current.user_email }}" /><br />
        <label typeof="string">Password : </label><br />
        <input class="form-control" type="password" name="UserPassInput" /><br />
        <button class="btn btn-default">Submit</button>
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p class="text-left">{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>
{% endblock %}