{% extends "base_layout.html" %}

{% block head %} {% endblock %}

{% block body %}
    <div class="Form">
        <form method="post">
            <label typeof="string">Username : </label><br />
            <input typeof="string" name="UserNameInput" value="{{ current.user_name }}" /><br />
            <label typeof="string">Email : </label><br />
            <input typeof="string" name="UserEmailInput" value="{{ current.user_email }}" /><br />
            <label typeof="string">Password : </label><br />
            <input type="password" name="UserPassInput" /><br />
            <button class="btn btn-default">Submit</button>
        </form>
    </div>
{% endblock %}