{% extends "base_layout.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='add_update_style.css') }}" />
{% endblock %}

{% block body %}
    <div class="EditPostTitle"><h1>Edit Post</h1></div>
    <div class="Form">
        <form method="post">
            <label typeof="string">Name : </label><br />
            <div class="InputFields"><input typeof="string" name="NameInput" value="{{ current.title }}" /></div><br />
            <label typeof="string">Author : </label><br />
            <div class="InputFields"><input typeof="string" name="AuthorInput" value="{{ current.author }}" /></div><br />
            <label typeof="string">Content : </label><br />
            <textarea name="ContentInput"> {{ current.content }} </textarea><br />
            <button class="SubmitButton">Submit</button>
        </form>
    </div>
{% endblock %}
