<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title></title>
</head>
<body>
    <p>Username: {{ element.user_name }}</p>
    <p>Email: {{ element.user_email }}</p>
    <p>Created on: {{ element.user_timestamp.creation_time }}</p>
    <p>Last edited on: {{ element.user_timestamp.edit_time }}</p>
</body>
</html>