{% extends "base_layout.html" %}

{% block head %}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='view_post_style.css') }}" />
    <script type="text/javascript"
            src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
{% endblock %}

{% block body %}
    <p class="ArticleTitle"> Article Title : {{ current.title }} </p>
    <p class="ArticleAuthor"> Article Author : {{ current.author }}</p><br />
    <p class="ArticleAuthor"> Created : {{ current.stamp.creation_time }}</p><br />
    <p class="ArticleAuthor">
        Modified :
        {% if current.stamp.edit_time == None %}
        <b>Never</b>
        {% else %}
        <b>{{ current.stamp.edit_time }}</b>
        {% endif %}
    <p class="ArticleContent"> {{ current.content }} </p><br />
    {% if session['logged_name'] == current.author or session['logged_name'] == 'admin' %}
    <div class="FooterButtons">
        <div class="btn btn-default"><a href="{{ url_for('.update_item', post_index=current.post_id) }}">Edit</a></div>
        <div class="btn btn-default" id="RemoveBtId"><a href="{{ url_for('.remove_item', post_index=current.post_id) }}" onclick="return OnRemoveClick()">Remove</a></div>
    </div>
    {% endif %}
{% endblock %}
